@import "bootstrap-sprockets";
@import "bootstrap-variables";
@import "bootstrap-custom";
@import "mixins";
@import "slick.scss";

@import "_nav";
@import "about";
@import "subscribe";
@import "footer";
@import "contact";
@import "blog";


@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,400i,800');
@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');



body{
	font: 400 14px/2.2 "Open Sans", sans-serif;
	color: $text-color;
}


.ba-button{
	display: inline-block;
	height: 50px;
	border: none;
	background: $brand-primary;
	line-height: 50px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 35px;
	color: #fff;
	font-family: $headings-font-family;
	&:hover, &:focus {
		background: darken($brand-primary, 20%);
		color: #FFF;
		text-decoration: none;
	}
}

.ba-button--sub {
	background-color: #FFF;
	color: $brand-primary;
}




// index
.ba-portfolio {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -$grid-gutter-width/2;
	&__item {
		width: 50%;
		padding: 0 $grid-gutter-width/2 $grid-gutter-width;
		@include breakpoint(sm){
			width: 33%;
		}
		img {
			display: block;
		}
	}
}

.ba-portfolio-filter {
	margin: 0 0 $grid-gutter-width;
	padding: 0;
	list-style: none;
	@media (min-width: $screen-sm) and (max-width: $screen-sm){
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		button {
			margin-top: 5px;
			white-space: nowrap;
		}
	}
	button {
		font: 700 14px/1 $headings-font-family;
		text-transform: uppercase;
		color: #60606e;
		padding: 5px 20px;
		background: none;
		border: none;
		border-radius: 0;
		&:hover,&:focus {
			background: $text-color;
			color: #FFF;
		}
		&.ba-active {
			background: $brand-primary;
			color: #FFF;
		}
	}
}

.breadcrumb {
	li {
		text-transform: uppercase;
		font: 700 14px/1 $headings-font-family;
		a {
			&:hover {
				color: #000;
				text-decoration: none;
			}
		}
	}
}

.ba-page-title--home {
	border: 10px solid currentColor;
	display: inline-block;
	font-size: 48px;
}
.ba-page-title {
	text-transform: uppercase;
	margin: 0 0 7px;
	position: relative;
	&__sup {
		position: absolute;
		background: $brand-primary;
		font-size: 18px;
		bottom: 100%;
		left: 50%;
		transform: translate(-50%, -10px);
		padding: 0 20px;
		height: 30px;
		line-height: 30px;
	}
	&--home {
		border: 10px solid currentColor;
		display: inline-block;
		font-size: 48px;
		padding: 4px 36px;
		letter-spacing: -0.6px;
		margin-bottom: 20px;
	}
}



.ba-intro {
	background: #EBEBEB url('../img/bg-intro.jpg') 50% 100%;
	background-size: cover;
	&__history {
		margin-top: -120px;
		position: relative;
		z-index: 2;
		top: 100px;
	}
}

.ba-intro__body {
	padding: 150px 0 137px;
	max-width: 580px;
	margin: 0 auto;
	font-size: 16px;
}

.ba-history {
	padding-top: $grid-gutter-width;
	font-size: 16px;
	p {
		line-height: 1.9;
	}
	@include breakpoint(md){
		padding-top: 18px;
	}
}

.ba-main-home {
	padding-top: 100px;
}

.why-choose-us{
	&__list{
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			text-transform: uppercase;
		}
	}
	&__icon{
		font-size: 36px;
		line-height: 1;
	}
	&__item{
		margin-bottom: 60px;
	}
	&__img {
		width: 100%;
	}
}
