<section class="ba-subscribe">
	<!-- BEGIN container  -->
	<div class="container">
	    <!-- BEGIN row  -->
	    <div class="row">
	        <div class="col-xs-12 col-md-6">
	        	<div class="ba-call-to-action">
	        		<h2 class="ba-subscribe__title">YOU THINK WE'RE COOL ? LET'S WORK TOGETHER</h2>
	        		<a href="#" class="ba-button ba-button--sub">Get in touch</a>
	        	</div>
	        </div>

	        <div class="col-xs-12 col-md-6">
				<div class="ba-subscribe__body">
					<h3 class="ba-form__title">STAY INFORMED WITH OUR NEWSLETTER</h3>
					<p class="ba-form__info">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					<form action="#" class="ba-form">
						<input type="email" name="email" required placeholder="YOUR EMAIL">
						<button class="ba-button" type="submit">Send</button>
					</form>
				</div>
	        </div>
	    </div>
	    <!-- END row -->
	</div>
	<!-- END container -->
</section>
